* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    background: #ffffff;
    color: #8b0000;
    font-family: "Timmana", sans-serif;
    font-weight: 400;
    font-style: normal;

}

a {
    color: #a0522d;
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
text-align: center;
margin: 3%;
}



/* NAVIGATION */
.nav-main {
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
}

.nav-brand {
    width: 50px;
}

/* NAV LEFT */
.nav-main ul {
    display: flex;
}

.nav-main ul li {
    padding: 10px;
}

.nav-main ul li a {
    padding: 5px;
}
.nav-main ul li a:hover {
    border-bottom: 2px solid #ff4500 ;
}

.nav-main ul.nav-menu {
    flex: 1;
    margin-left: 20px;
}

