/* Estilos generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff;
    color: #8b0000;
    font-family: "Timmana", sans-serif;
    font-weight: 400;
    line-height: 1.6; /* Mejora la legibilidad del texto */
}

a {
    color: #a0522d;
    text-decoration: none;
}

a:hover {
    text-decoration: underline; /* Añadir subrayado en hover para mejorar la usabilidad */
}

ul {
    list-style: none;
}

/* Contenedor principal */
.container {
    text-align: center;
    margin: 3%;
}

/* Navegación */
.nav-main {
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
}

.nav-brand {
    width: 50px; /* Asegúrate de que esta imagen está optimizada */
}

/* Elementos de navegación */
.nav-main ul {
    display: flex;
    flex: 1;
    margin-left: 20px;
}

.nav-main ul li {
    padding: 10px;
}

.nav-main ul li a {
    padding: 5px;
    transition: border-bottom 0.3s; /* Añadir transición suave al hover */
}

.nav-main ul li a:hover {
    border-bottom: 2px solid #ff4500;
}

/* Animaciones de las iniciales */
.initials {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-weight: bold;
    margin-top: 20px;
    opacity: 0;
    animation: fadeIn 2s forwards;
}

.initials span {
    display: inline-block;
    margin: 0 10px;
    transform: translateY(20px);
    animation: slideUp 0.5s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes slideUp {
    to {
        transform: translateY(0);
    }
}
